
/*override all text font so it is arial*/ 
html *{
   font-family: arial !important;
}

#title, #status_clear, #status_progress{
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 25pt;

    margin-bottom: 20px;
}

#map iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
iframe{
    width:95%;
    height:300px;
}

#alert_date_container, #alert_time_container{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#alert_date_container{
    margin-left: -5%;
    margin-right: 5%;
}

#alert_time_container{
    margin-left: 5%;
}

#alert_date_label, #alert_time_label{
    margin-bottom: 5px;
}

#alert_date_text, #alert_time_text{
    padding: 5px;
}

#situation_map{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
}


#map{
    margin-bottom: 20px;
}

#alert_date_label, #alert_time_label, #situation_map, #description_label{
    font-weight: bold;
}

#description_container{
    margin: 20px;
}

#description_text{
    margin-top: 10px;
}

/*
========== Extra formatting due to device type: Smart Phone ==========
*/

/* Smart Phone - Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 700px) and (orientation: portrait) {    
	#title, #status_clear, #status_progress{
        color: #8b0000;
    }
    
    #status_clear{
        display: none;
    }

    #status_progress{
        margin-top: 0px;
        font-size: 15pt;
    }
    #title{
        margin-top: 30px;
        margin-bottom: 0px;
        color: #000066;
    }	
}

img{
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

/* Smart Phone - Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 740px) and (orientation: landscape) {
    #title, #status_clear, #status_progress{
        color: green;
    }

    #status_progress{
        display: none;
    }

    #status_clear{
        margin-top: 0px;
        font-size: 15pt;
        font-style: italic;
    }
    #title{
        margin-bottom: 0px;
        color: black;
    }
}