body {
  padding:50px;
  font:14px "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#808080;
}

h1 {
  margin:0 0 20px;
  color:000000;
  line-height:0;
}

h3, h4 {
  color:#414141;
}

label {
  margin:0 0 3px;
  display:inline-block;
}

a {
  color:#39c;
  text-decoration: none;
}

a:hover {
  color:#069;
}

.list {
    margin:0 0 20px;
}

.list a{
  display: block;
}

.intro {
  width:900px;
  margin:0 auto;
}

header {
  width:270px;
  float:left;
  position:fixed;
}

section {
  width: 550px;
  float:right;
  padding-bottom:50px;
}